<ion-header>
  <ion-toolbar>
    <ion-title class="title">
     Doar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content animate__animated animate__fadeInLeft">
    <ion-card (click)="donateFood()">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="../../assets/Alimentos.png" alt="Roupas">
        </ion-thumbnail>
        <ion-label>Alimentos</ion-label>
      </ion-item>
    </ion-card>

    <ion-card (click)="donateClothes()">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="../../assets/Roupas.png" alt="Roupas">
        </ion-thumbnail>
        <ion-label>Roupas</ion-label>
      </ion-item>
    </ion-card>

    <ion-card (click)="donateBlood()">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="../../assets/Outros.png" alt="Roupas">
        </ion-thumbnail>
        <ion-label>Sangue</ion-label>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
