<ion-header>
  <ion-toolbar>
    <ion-title class="title">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content animate__animated animate__fadeInLeft">
    <img
      class="img-item"
      src="../../assets/doacao-vetor.png"
      alt="Imagem de Solidariedade"
    />
    <p>Existem pessoas precisando muito da sua ajuda!<br/>Veja abaixo como ajudar 😁​</p>

    <ion-card [routerLink]="['/tabs/tab2']">
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="../../assets/Quero Doar_.png" alt="Mão segurando um coração">
        </ion-thumbnail>
        <ion-label>Quero doar</ion-label>
      </ion-item>
    </ion-card>

    <ion-card [routerLink]="['/tabs/tab3']">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="../../assets/Preciso de Doação.png" alt="Aperto de mãos">
        </ion-thumbnail>
        <ion-label>Preciso de doações</ion-label>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
