<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">
      Receber doações
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content animate__animated animate__fadeInLeft">
    <img class="img-item" src="../../assets/equipe.png" alt="Pessoas abraçadas">
    <p class="text-item">
      Está precisando de ajuda? Podemos te ajudar! Preencha os campos e fale com um voluntário. 🙏​
    </p>

    <form [formGroup]="form" (submit)="submit()">
      <ion-item>
        <ion-label position="floating">Nome Completo</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Endereço</ion-label>
        <ion-input type="text" formControlName="address"></ion-input>
      </ion-item>

      <ion-button
        color="secondary"
        class="btn-submit"
        [disabled]="form.invalid || form.pending"
        expand="block"
        type="submit"
      >Salvar</ion-button>
    </form>
  </div>
</ion-content>
