/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
  --ion-font-family: 'Varela Round', sans-serif;

  /* barra superior */
  --ion-toolbar-background: #29065a;
  --ion-toolbar-color: #fff100;

  --ion-background-color: linear-gradient(180deg, #29065a 0%, #7314fd 100%);

  /* barra inferior */
  --ion-tab-bar-background: #290654;
  --ion-tab-bar-color: #44578a;
  --ion-tab-bar-color-selected: #fff100;

  --ion-text-color: white;
  --ion-text-color-rgb: 255,255,255;

  /* componente card */
  --ion-card-background: linear-gradient(139deg, #831affab 0%, transparent 100%);
  --ion-item-background: transparent;
  // --ion-item-border: none;
}

.title {
  text-align: center;
}

.content {
  max-width: 500px;
  margin: auto;
  text-align: center;
  padding: 0 20px;
}

ion-card {
  border-radius: 15px;
  margin-bottom: 5px;
  cursor: pointer;
  transition-duration: 500ms;
}

ion-card:hover {
  transform: scale(1.03);
}

.img-item {
  padding: 20px;
  padding-bottom: 0;
  width: 100%;
  max-width: 400px;

  animation: animation-img-item 4s infinite alternate;
}

ion-thumbnail {
  animation: animation-item 4s infinite alternate;
}

@keyframes animation-item {
  0% {
    transform: translate(0px, 5px);
  }

  100% {
    transform: translate(0px, -5px);
  }
}

@keyframes animation-img-item {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(1deg) scale(1.02);
  }

  100% {
    transform: rotate(-1deg) scale(1.04);
  }
}
